.vien
   {padding: 5px;
background-color: blanchedalmond;
}   
.du 
{padding: 5px;
background-color: brown;} 
.trys
{
    padding: 5px;
    background-color: blueviolet;
}
.keturi
{
    padding: 5px;
    background-color: chartreuse;
}
.trecias
{
    background-color: darkgreen;
}
#ketvirtas
{ padding: 5px;
    background-color: darkorchid;

}
div {
    background-color: #522cac;
}
